@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #8e44ad;
  color: #fff;
  font-family: 'Roboto Mono', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}

.fab {
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    align-self: center;
}

.fa-twitter {
    color: #00ACEE;
}

.fa-youtube {
    color: #FF0000;
}

.fa-facebook-f {
    color: #4267B2;
}