@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #4b4b4b;
    margin: 0;
}